* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: #0b1d2b;

  background-image: linear-gradient(
    120deg,
    #1e4f43 0%,
    #123a3a 30%,
    #0a2c47 70%,
    #06243f 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120% 120%;
}

.android {
  position: absolute;
  bottom: -6px; /* para que esté abajo */
  left: -100px; /* empieza fuera de la pantalla */
  width: 80px;
  animation: caminar 10s linear infinite;
}

@keyframes caminar {
  from { left: -100px; }
  to { left: 100vw; } /* cruza toda la pantalla */
}



.bodyes {
  background: linear-gradient(
    180deg,
    rgba(33, 126, 163, 0.20) 0%,
    rgba(6, 57, 48, 0.25) 100%
  );
  padding: 25px;
  margin: 40px 80px; 
  box-shadow: 0 8px 40px rgba(2, 9, 25, 0.6);
  border-radius: 30px;

  backdrop-filter: none;
}


.title{
      line-height:1;
    }
    .title h1{
      font-family: 'Montserrat', 'Poppins', sans-serif;
      font-weight:800;
      font-size:34px;
      margin-bottom:2px;
      letter-spacing:-0.02em;
      color: aqua;
    }

.services{
      display:flex;
      grid-template-columns:1fr;
      gap:16px;
      padding:6px 2px 20px 2px;
      margin-top: 20px;
    }
    .card{
      background: rgba(0,0,0,0.55);
      border-radius:16px;
      padding:18px;
      box-shadow: 0 6px 18px rgba(3,8,20,0.45);
      border: 1px solid rgba(255,255,255,0.03);
    }

    .card:hover{
        transform: rotate3d(20deg)
    }

    .card h3{
      color: #b6ff6b;
      font-family:'Montserrat', 'Poppins', sans-serif;
      font-weight:700;
      font-size:20px;
      margin-bottom:8px;
    }
    .card p{
      font-size:13px;
      color: #cde0ea;
      line-height:1.45;
    }

.cta-row{
  border: 1px solid red;
    }
    .btn-contact{
      display:inline-flex;
      gap:12px;
      align-items:center;
      padding:12px 20px;
      border-radius:999px;
      background:var(--cta-bg);
      border:3px solid var(--cta-outline);
      color:white;
      font-weight:700;
      text-decoration:none;
      box-shadow: 0 10px 30px rgba(11,3,115,0.28), inset 0 -4px 18px rgba(0,0,0,0.15);
      transform:translateZ(0);
    }
    .btn-contact svg{width:20px;height:20px;opacity:0.95}



@media(max-width:728px){
    .bodyes{
        margin: 25px;
    }

    .title h1{
      font-size: 30px;
    }

    .tecnico{
        font-size: 35px !important;
    }

    .services{
        display: grid;
    }
}